header#site-header {
    background: url('/img/tyee-logo.png') rgba(255,255,255,0.35) no-repeat 50% 10px;
    height: 100px;
}

#nav button {
    width: 100%;
    height: 50px;
    font-size: 2em;
    margin-top: 40px;
}
.editing {
    background: yellow;
}

.editing .edit-form {
    display: block !important;
}

.editing .edit-buttons {
    display: none;
}
