<div id="sources">
    
    <div class="new-form hidden">
        <input data-bind="name" name="name" class="new input-name" type="text" /><br />
        <input data-bind="description" name="description" class="new input-description" type="text" /><br />
        <input data-bind="contact_name" name="contact_name" class="new input-contact" type="text" /><br />
        <input data-bind="contact_email" name="contact_email" class="new input-contact" type="text" /><br />
        <select class="categories" data-bind="categories" /><br />
        <button class="save">Save</button> or <a class="cancel">Cancel</a>
    </div>
    <div class="edit-buttons">
        <button class="new">New</button>
    </div>

</div>
