<div class="category-item">
    <div class="category-item-details">
        <a href=""><h2 data-bind="name"></h2></a>
        <p data-bind="description"></p>
        <p>ID: <%= id %></p>
    </div>
    <div class="edit-form hidden">
        <input data-bind="name" name="name" class="edit input-name" type="text" /><br />
        <input data-bind="description" name="description" class="edit input-description" type="text" /><br />
        <button class="save">Save</button> or <a class="cancel">Cancel</a>
    </div>
    <div class="edit-buttons">
        <button class="edit">Edit</button>
        <button class="delete">Delete</button>
    </div>
</div>
