<div class="app-source-detail">
    <a href="<%= url %>"><h2 data-bind="name"></h2></a>
    <p data-bind="description"></p>
    <div class="edit-form hidden">
        <input data-bind="name" name="name" class="edit input-name" type="text" /><br />
        <input data-bind="description" name="description" class="edit input-description" type="text" /><br />
        <input data-bind="contact_name" name="contact_name" class="edit input-contact" type="text" /><br />
        <input data-bind="contact_email" name="contact_email" class="edit input-contact" type="text" /><br />
        <select class="categories" data-bind="categories" /><br />
        <button class="save">Save</button> or <a class="cancel">Cancel</a>
    </div>
    <div class="edit-buttons">
        <button class="edit">Edit</button>
        <button class="delete">Delete</button>
    </div>
</div>
<div id="items">
</div>
